<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>total_ent_main</title>
<link rel="stylesheet" type="text/css" href="/css/total_ent/total_ent_main.css" />
<script type="text/javascript"
	src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/total_ent/total_ent_main.js"></script>
</head>
<body oncontextmenu="return false">
<th:block layout:fragment="content">
	<div class="slider">
		<div class="slide-viewer">
			<div class="slide-group">
			</div>
		</div>
		<div class="slide-nav">
			<div class="prev"></div>
			<div class="next"></div>
		</div>
		<div class="slide-buttons"></div>
	</div>
	
	<section style="width: 100%;">
		<div class="pick">
			<h1>STS's PICK</h1>
		</div>
		<div th:each="total_ent, loopStatus : ${total_entList}">
			<div th:if="${loopStatus.index % 3 == 0}" class="contentmain">
			</div>

			<a th:href="@{'total_ent_detail?tseq=' + ${total_ent.tseq} + '&category=' + ${total_ent.category}}" class="contenta">
				<div th:switch="${total_ent.category}">
					<img th:case="1" class="contentimg" th:src="@{'img/concert/' + ${total_ent.pimg} + '.jpg'}">
					<img th:case="2" class="contentimg" th:src="@{'img/theater/' + ${total_ent.pimg} + '.jpg'}">
					<img th:case="3" class="contentimg" th:src="@{'img/museum/' + ${total_ent.pimg} + '.jpg'}">
				</div>
				<div class="contentel">
					<p class="contentp" th:text="${total_ent.tname}"></p>
				</div>
			</a>

			<div th:if="${loopStatus.index % 3 == 2 or loopStatus.last}" class="contentmain">
			</div>
		</div>
	</section>
</th:block>
</body>
</html>